name: call composite action
on: push
jobs:
 build:
     runs-on: ubuntu-latest
     steps:
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        - uses: ./.github/actions/python-test-action/action.yml
          with:
             node-version: 20
